#home {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/brew1.jpg') no-repeat center center/cover;
    filter: blur(0px);
    overflow: hidden;
}

#home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.home-container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.home-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 200px;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.home-right {
    flex: 2;
    text-align: center;
}

.welcome-text h1,
.welcome-text h2 {
    font-family: 'Arial', sans-serif;
    color: #fff;
    margin: 0;
}

.welcome-text h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

.welcome-text h2 {
    font-size: 2rem;
    color: #eca618;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.6);
    /* Fond sombre derrière le texte */
    padding: 10px 20px;
    border-radius: 10px;
}